[Unit]
Description=boiler_monitor service
Documentation=file:/home/leith/bmon/doc/boiler_monitor.md
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
Restartsec=1
User=leith
ExecStart=/home/leith/bmon/src/boiler_monitor.py
#ExecStopPost=/home/leith/bmon/src/boiler_monitor.py --clear_dhw_disable
PIDfile=/run/boiler_monitor
[Install]
WantedBy=multi-user.target
