[Unit]
Description=rd_w1_temps service
Documentation=file:/home/leith//bmon/doc/rd_w1_temps.md
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
Restartsec=1
User=leith
ExecStart=/home/leith/bmon/src/rd_w1_temps.py
PIDfile=/run/rd_w1_temps
[Install]
WantedBy=multi-user.target
